# Ignore IDE configuration files
.vscode/
.idea/

# Ignore temporary and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.log

# Ignore test files
tests/
*.test

# Ignore database files
*.db
*.sqlite

# Ignore the logs directory
airflow/logs/
